{
  "openapi": "3.1.0",
  "info": {
    "title": "Enzo.Diagrams Agent API",
    "version": "1.0.0",
    "description": "Agent-ready contract for deterministic Enzo.Diagrams validation and rendering. Agents should generate only Enzo.Diagrams DSL, validate it, correct errors when validation fails, and render only valid DSL. Use hosted PNG delivery when an inline image URL is needed. Do not generate Mermaid, PlantUML, Graphviz, BPMN XML, raw SVG, or image bytes."
  },
  "servers": [
    {
      "url": "https://enzo-diagrams-api.gentlebeach-2a13ea58.northeurope.azurecontainerapps.io"
    }
  ],
  "paths": {
    "/v1/validate": {
      "post": {
        "operationId": "validateDiagram",
        "tags": ["Diagrams"],
        "summary": "Validate Enzo.Diagrams DSL.",
        "description": "Parses and validates Enzo.Diagrams DSL without rendering. Use this before rendering non-trivial diagrams. If validation fails, correct the DSL and call validateDiagram again before rendering.",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateDiagramRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The DSL is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateDiagramResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request or DSL is invalid. Inspect the errors extension, correct the DSL, and validate again.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "A valid API key is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/render": {
      "post": {
        "operationId": "renderDiagram",
        "tags": ["Diagrams"],
        "summary": "Render Enzo.Diagrams DSL.",
        "description": "Parses, validates, lays out, and renders Enzo.Diagrams DSL as SVG or PNG. Delivery defaults to raw bytes. Use format png with delivery url when an agent needs a short-lived hosted image URL that points to the actual generated diagram image and can be presented to the user. Call renderDiagram only after valid DSL has been produced.",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderDiagramRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered SVG or PNG diagram, or hosted PNG result metadata when delivery is url.",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "description": "SVG document."
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "PNG image bytes."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedRenderDiagramResponse"
                },
                "examples": {
                  "hostedPng": {
                    "summary": "Hosted PNG render result",
                    "description": "The url points to the actual generated Enzo.Diagrams PNG and can be presented to the user until expiresAt.",
                    "value": {
                      "id": "b6f4e81ab3d2440d8ad70c8d68a1828f",
                      "format": "png",
                      "contentType": "image/png",
                      "url": "https://storage.example.invalid/render-results/b6f4e81ab3d2440d8ad70c8d68a1828f.png?sv=redacted",
                      "expiresAt": "2026-09-06T13:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request or DSL is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "A valid API key is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "ValidateDiagramRequest": {
        "type": "object",
        "required": ["source"],
        "properties": {
          "source": {
            "$ref": "#/components/schemas/EnzoDiagramSource"
          }
        }
      },
      "RenderDiagramRequest": {
        "type": "object",
        "required": ["source", "format"],
        "properties": {
          "source": {
            "$ref": "#/components/schemas/EnzoDiagramSource"
          },
          "format": {
            "type": "string",
            "enum": ["svg", "png"],
            "description": "Render format. Prefer svg unless the user explicitly asks for png."
          },
          "delivery": {
            "type": ["string", "null"],
            "enum": ["raw", "url", null],
            "description": "Result delivery mode. Omit or use raw to receive the rendered SVG/PNG response body. Use url with format png to receive hosted PNG metadata for inline image presentation."
          }
        }
      },
      "HostedRenderDiagramResponse": {
        "type": "object",
        "required": ["id", "format", "contentType", "url", "expiresAt"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Opaque temporary render identifier."
          },
          "format": {
            "type": "string",
            "description": "Render format. Hosted URL delivery currently returns png."
          },
          "contentType": {
            "type": "string",
            "description": "Hosted image content type, normally image/png."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Short-lived read-only HTTPS URL for the actual Enzo-rendered PNG. Present this image URL directly to the user; do not redraw or regenerate the diagram."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "UTC timestamp when the hosted image URL expires."
          }
        }
      },
      "ValidateDiagramResponse": {
        "type": "object",
        "required": ["valid"],
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "True when the submitted DSL parses and validates successfully."
          }
        }
      },
      "EnzoDiagramSource": {
        "type": "string",
        "minLength": 1,
        "description": "Enzo.Diagrams DSL source. Do not use Mermaid, PlantUML, Graphviz, BPMN XML, or raw SVG. Flowcharts start with flow <Name>. Supported flow declarations are start, task, decision, and end. Flow connections use Source -> Target, with optional labels as Source -> Target : label. Example: flow Example\nstart Begin \"Start\"\ntask Work \"Process\"\ndecision Valid \"Valid?\"\nend Done \"Done\"\nBegin -> Work\nWork -> Valid\nValid -> Done : yes. The keyword node is invalid. Mermaid-style square-bracket node syntax must not be used. Sequence diagrams start with sequence <Name>. Declare actor and participant entries. Messages use Source -> Target: label, with --> allowed for response-style messages. Example: sequence Checkout\nactor Customer \"Customer\"\nparticipant Web \"Web App\"\nparticipant Api \"Order API\"\nCustomer -> Web: Click checkout\nWeb -> Api: POST /orders\nApi --> Web: 201 Created. BPMN diagrams start with bpmn <Name>. Supported BPMN declarations are start, task, gateway, and end. Sequence flows use Source -> Target, with optional labels as Source -> Target : label. Example: bpmn Fulfillment\nstart Received\ntask Validate \"Validate order\"\ngateway Valid \"Order valid?\"\ntask Ship \"Ship order\"\nend Completed\nReceived -> Validate\nValidate -> Valid\nValid -> Ship : yes\nShip -> Completed.",
        "examples": [
          "flow Example\nstart Begin \"Start\"\ntask Work \"Process\"\ndecision Valid \"Valid?\"\nend Done \"Done\"\nBegin -> Work\nWork -> Valid\nValid -> Done : yes",
          "sequence Checkout\nactor Customer \"Customer\"\nparticipant Web \"Web App\"\nparticipant Api \"Order API\"\nCustomer -> Web: Click checkout\nWeb -> Api: POST /orders\nApi --> Web: 201 Created",
          "bpmn Fulfillment\nstart Received\ntask Validate \"Validate order\"\ngateway Valid \"Order valid?\"\ntask Ship \"Ship order\"\nend Completed\nReceived -> Validate\nValidate -> Valid\nValid -> Ship : yes\nShip -> Completed"
        ]
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "detail": { "type": "string" },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagramProblemError"
            }
          }
        }
      },
      "DiagramProblemError": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "line": { "type": ["integer", "null"] },
          "column": { "type": ["integer", "null"] },
          "message": { "type": "string" },
          "code": { "type": ["string", "null"] }
        }
      }
    }
  }
}
