{
  "openapi": "3.1.0",
  "info": {
    "title": "Enzo.Diagrams Agent API",
    "version": "1.0.0",
    "description": "Agent-ready contract for deterministic Enzo.Diagrams validation and rendering. Agents should generate only Enzo.Diagrams DSL, validate it, correct errors when validation fails, and render only valid DSL. Do not generate Mermaid, PlantUML, Graphviz, BPMN XML, raw SVG, or image bytes."
  },
  "servers": [
    {
      "url": "https://enzo-diagrams-api.gentlebeach-2a13ea58.northeurope.azurecontainerapps.io"
    }
  ],
  "paths": {
    "/v1/validate": {
      "post": {
        "operationId": "validateDiagram",
        "tags": ["Diagrams"],
        "summary": "Validate Enzo.Diagrams DSL.",
        "description": "Parses and validates Enzo.Diagrams DSL without rendering. Use this before rendering non-trivial diagrams. If validation fails, correct the DSL and call validateDiagram again before rendering.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateDiagramRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The DSL is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateDiagramResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request or DSL is invalid. Inspect the errors extension, correct the DSL, and validate again.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/render": {
      "post": {
        "operationId": "renderDiagram",
        "tags": ["Diagrams"],
        "summary": "Render Enzo.Diagrams DSL.",
        "description": "Parses, validates, lays out, and renders Enzo.Diagrams DSL as SVG or PNG. Prefer format svg unless the user explicitly asks for png. Call renderDiagram only after valid DSL has been produced.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderDiagramRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered SVG or PNG diagram.",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "description": "SVG document."
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "PNG image bytes."
                }
              }
            }
          },
          "400": {
            "description": "The request or DSL is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidateDiagramRequest": {
        "type": "object",
        "required": ["source"],
        "properties": {
          "source": {
            "$ref": "#/components/schemas/EnzoDiagramSource"
          }
        }
      },
      "RenderDiagramRequest": {
        "type": "object",
        "required": ["source", "format"],
        "properties": {
          "source": {
            "$ref": "#/components/schemas/EnzoDiagramSource"
          },
          "format": {
            "type": "string",
            "enum": ["svg", "png"],
            "description": "Render format. Prefer svg unless the user explicitly asks for png."
          }
        }
      },
      "ValidateDiagramResponse": {
        "type": "object",
        "required": ["valid"],
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "True when the submitted DSL parses and validates successfully."
          }
        }
      },
      "EnzoDiagramSource": {
        "type": "string",
        "minLength": 1,
        "description": "Enzo.Diagrams DSL source. Do not use Mermaid, PlantUML, Graphviz, BPMN XML, or raw SVG. Flowcharts start with flow <Name>. Supported flow declarations are start, task, decision, and end. Flow connections use Source -> Target, with optional labels as Source -> Target : label. Example: flow Example\nstart Begin \"Start\"\ntask Work \"Process\"\ndecision Valid \"Valid?\"\nend Done \"Done\"\nBegin -> Work\nWork -> Valid\nValid -> Done : yes. The keyword node is invalid. Mermaid-style square-bracket node syntax must not be used. Sequence diagrams start with sequence <Name>. Declare actor and participant entries. Messages use Source -> Target: label, with --> allowed for response-style messages. Example: sequence Checkout\nactor Customer \"Customer\"\nparticipant Web \"Web App\"\nparticipant Api \"Order API\"\nCustomer -> Web: Click checkout\nWeb -> Api: POST /orders\nApi --> Web: 201 Created. BPMN diagrams start with bpmn <Name>. Supported BPMN declarations are start, task, gateway, and end. Sequence flows use Source -> Target, with optional labels as Source -> Target : label. Example: bpmn Fulfillment\nstart Received\ntask Validate \"Validate order\"\ngateway Valid \"Order valid?\"\ntask Ship \"Ship order\"\nend Completed\nReceived -> Validate\nValidate -> Valid\nValid -> Ship : yes\nShip -> Completed.",
        "examples": [
          "flow Example\nstart Begin \"Start\"\ntask Work \"Process\"\ndecision Valid \"Valid?\"\nend Done \"Done\"\nBegin -> Work\nWork -> Valid\nValid -> Done : yes",
          "sequence Checkout\nactor Customer \"Customer\"\nparticipant Web \"Web App\"\nparticipant Api \"Order API\"\nCustomer -> Web: Click checkout\nWeb -> Api: POST /orders\nApi --> Web: 201 Created",
          "bpmn Fulfillment\nstart Received\ntask Validate \"Validate order\"\ngateway Valid \"Order valid?\"\ntask Ship \"Ship order\"\nend Completed\nReceived -> Validate\nValidate -> Valid\nValid -> Ship : yes\nShip -> Completed"
        ]
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "detail": { "type": "string" },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagramProblemError"
            }
          }
        }
      },
      "DiagramProblemError": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "line": { "type": ["integer", "null"] },
          "column": { "type": ["integer", "null"] },
          "message": { "type": "string" },
          "code": { "type": ["string", "null"] }
        }
      }
    }
  }
}
