**/bin/
**/obj/

.git/
.github/
.vs/
.vscode/
.idea/

TestResults/
**/TestResults/
coverage/
**/coverage/
artifacts/

*.coverage
*.coveragexml
*.log
*.nupkg
*.rsuser
*.suo
*.tmp
*.temp
*.user

.DS_Store
Thumbs.db
